
extends base.pug

block content 
    h3 hello from upload
    form(action="/videos/upload", method="POST")
        input(name="Title, "placeholder="Title", required, type="text")
        input(type="submit", value="Upload Video")
